<div class="soundboard mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row max-width-container">
      <span class="mdl-layout-title">{{soundboard.title}} Soundboard</span>

      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href ng-click="toggleDownloadMode()" ng-show="!downloadMode" id="downloadModeButton">
          <i class="material-icons">file_download</i>
        </a>
        <div class="mdl-tooltip" for="downloadModeButton">
          Download-Modus
        </div>

        <a class="mdl-navigation__link" href ng-click="toggleDownloadMode()" ng-show="downloadMode" id="favModeButton">
          <i class="material-icons">star</i>
        </a>
        <div class="mdl-tooltip" for="favModeButton">
          Favouriten-Modus
        </div>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content max-width-container">
      <!--<button ng-click="auth.$unauth()">Logout</button>-->

      <div class="mdl-list">
        <div class="mdl-list__item mdl-list__item--two-line" ng-repeat="entry in entries | orderBy:'title'">
          <span class="mdl-list__item-primary-content">
            <button ng-click="togglePlaySound(entry)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-list__item-avatar" ng-class="{'mdl-button--colored': entryCurrentlyPlaying(entry)}">
              <i class="material-icons" ng-if="!entryCurrentlyPlaying(entry)">play_arrow</i>
              <i class="material-icons" ng-if="entryCurrentlyPlaying(entry)">stop</i>
            </button>

            <span>{{entry.title}} <span ng-if="entry.new" class="new-indicator">(neu)</span></span>

            <span class="mdl-list__item-sub-title">{{entry.playCount}}x abgespielt</span>
          </span>

          <a class="mdl-list__item-secondary-action" ng-if="downloadMode" href="./sounds/{{entry.file}}" download="{{entry.file}}" target="_blank">
            <i class="material-icons fav-star inactive">file_download</i>
          </a>

          <a class="mdl-list__item-secondary-action" ng-if="!downloadMode" href="" ng-click="toggleFav(entry)">
            <i class="material-icons fav-star" ng-class="{'inactive': !entryIsFavorized(entry)}">star</i>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>

<dialog id="auth-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">Login</h4>
  <div class="mdl-dialog__content">
    <p>Um Favoriten speichern zu können, müssen Sie sich einloggen.</p>
    <p>Das geht ganz einfach über Ihr Facebook oder Google-Konto.</p>
    <p>Wir werden niemals ohne Ihre Erlaubnis etwas posten.</p>

    <button type="button" class="mdl-button" ng-click="auth.$authWithOAuthPopup('facebook')" style="background-color: #3b5998; color: #FFF">
      Mit Facebook einloggen
    </button>

    <button type="button" class="mdl-button close" ng-click="auth.$authWithOAuthPopup('google')" style="background-color: #dc4e41; color: #FFF">
      Mit Google einloggen
    </button>
  </div>
  <div class="mdl-dialog__actions">

  </div>
</dialog>
